.first-box-container {
  position: absolute;
  width: 200px;
  height: 150px;
  color: blue;
  text-transform: uppercase;
  background-color: red;
  border-style: solid;
  border-color: green;
  text-align: center;
  border-width: 10px;
  font-family: arial;
}

.second-box-container {
  left: 250px;
  color: blue;
  position: absolute;
  width: 200px;
  height: 150px;
  text-transform: uppercase;
  background-color: yellow;
  border-style: solid;
  border-width: 10px;
  font-family: arial;
  border-color: red;
  text-align: center;
}

.third-box-container {
  left: 500px;
  position: absolute;
  width: 200px;
  height: 150px;
  font-family: arial;
  color: blue;
  text-transform: uppercase;
  background-color: green;
  border-style: solid;
  border-width: 10px;
  border-color: yellow;
  text-align: center;
}
.punainen {
  color: red;
}
.keltainen {
  color: yellow;
}
.vihreä {
  color: green;
}

